#login>div{
    background-color: rgb(217, 239, 239);
    padding-top: 15px;
    padding-bottom: 15px;
}
/* 로그인 창 2번째 줄 css */
#login>div>div:nth-child(2){   
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}
/* 로그인 창 2번째 줄 에서 login버튼 css */
#login>div>div:nth-child(2)>div:nth-child(2){
    margin-left: 20px;
}
/* 로그인 창 3번째 줄 */
#login>div>div:nth-child(3){
    font-size: small;
    padding-left: 10px;
}